###> Docker env variables ###
# Please run `make down` before changing this in variable in .env file, and bebuild app with `make rebuild` after
DOCKER_PROJECT_TITLE=sf_app_kcfmwq

DOCKER_NGINX_PORT=47856
DOCKER_POSTGRESQL_PORT=47321
DOCKER_LOCAL_NETWORK_IP=192.168.245.1
###< Docker env variables ###
